.hundred-percent-width {
	width: 100%;
}

body {
	overflow-x: hidden;
}

.logo {
	width: 116.5%;
    height: 250px;
}

@media screen and (max-width: 991px) {
    .logo {
        height: 100%;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.sliding_images > button.slick-arrow {
    display: none !important;
}

@media screen and (max-width: 991px) {
    .logo {
        width: 20% !important;
    }
    .contact-us {
    	width: 25%;
    	background-color: #c6c7ca;
    	float: right;
    }
}

.pictures-nav {
	height: 320px;
	overflow: auto;
}

.panel-body.gallery {
	height: 800px;
	overflow: auto;
}

.menu-dropdown {
    background-color: transparent;
    border: none;
    height: 3em;
    margin-top: 4px;
    color: #777;
}

.sectioned-social-bar > div {
    margin: auto;
} 

.js .project-data.js-myexpander-hidden {
  display: none;
}

.slick-dots li button {
    font-size: 10px;
    line-height: 6;
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    outline: none;
    background: #949494;
    margin: 2px;
}

.pictures-nav {
    height: 235px;
    margin-top: -30px;
}

.contact-panel {
    background-image: url('https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.contact_left {
    color: chartreuse;
}

.projects-body  {
    background-image: url(https://images.pexels.com/photos/340901/pexels-photo-340901.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
    background-repeat: round;
    color: aliceblue;
    font-size: large;
    background-repeat-y: inherit;
}

.projects-body .header.label    {
    font-size: larger;
    color: aliceblue;
}

.projects-body .more-link, .projects-body .less-link {
    color: aqua;
}

.projects-body .header.label {
    font-size: larger;
    color: aliceblue;
    vertical-align: super;
    border-radius: 1.25em;
    background-color: #9a4b81 !important;
}

.projects-section > .panel, .about-us-section > .panel {
    margin-bottom: 0;
}

.about-us-body  {
    background-image: url(https://static.pexels.com/photos/187919/pexels-photo-187919.jpeg);
    background-repeat: no-repeat;
    color: floralwhite;
    padding-right: 50%;
    font-weight: bolder;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: large;
    background-position-x: 0px;
    text-align: left;
}
