@font-face {
        font-family:"font61374";
        font-family:"font61374";
        src:url("/../static/verdana_1.woff") format("woff");
        font-weight:normal;
        font-style:normal;
}

body{
    font-family: font61374 !important;
}

.hundred-percent-width {
	width: 100%;
}

body {
	overflow-x: hidden;
}

.logo {
	width: 116.5%;
    height: 250px;
}

@media screen and (max-width: 991px) {
    .logo {
        height: 100%;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.sliding_images > button.slick-arrow {
    display: none !important;
}

@media screen and (max-width: 991px) {
    .logo {
        width: 20% !important;
    }
    .contact-us {
    	width: 25%;
    	background-color: #c6c7ca;
    	float: right;
    }
}

@media screen and (min-width: 687px)    {
    .side-panel {
        padding-left: 0;
        padding-right: 0;
    }
    .side-panel-no-left {
        padding-left: 0;
    }
    .side-panel-no-right {
        padding-right: 0;
    }
}

.pictures-nav {
	height: 320px;
	overflow: auto;
}

.panel-body.gallery {
	height: 800px;
	overflow: auto;
    background-color: #c6e1f9;
}

.menu-dropdown {
    background-color: transparent;
    border: none;
    height: 3em;
    margin-top: 4px;
    color: #ffffff;
}

.sectioned-social-bar > div {
    margin: auto;
}

.js .project-data.js-myexpander-hidden {
  display: none;
}

.slick-dots li button {
    font-size: 10px;
    line-height: 6;
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    outline: none;
    background: #949494;
    margin: 2px;
}

.pictures-nav {
    height: 235px;
    margin-top: -30px;
}

.contact-panel {
    background-image: url('/../images/contact-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_left {
    color: chartreuse;
    background-color: #585a57;
    width: 17em;
    opacity: 0.7;
    font-weight: bolder;
}

.contact_left.full_width {
    width: 22em;
}

.projects-body  {
    background-image: url('/../images/projects.jpg');
    background-repeat: round;
    color: aliceblue;
    font-size: large;
    background-repeat-y: inherit;
}

.projects-body .header.label    {
    font-size: larger;
    color: aliceblue;
}

.projects-body .more-link, .projects-body .less-link {
    color: aqua;
}

.projects-body .header.label {
    font-size: larger;
    color: aliceblue;
    vertical-align: super;
    border-radius: 1.25em;
    background-color: #9a4b81 !important;
}



.about-us-body  {
    background-image: url('/../images/about-us.jpg');
    background-repeat: round;
    color: floralwhite;
    padding-right: 50%;
    font-weight: bolder;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: large;
    background-position-x: 0px;
    text-align: left;
}

#toc_page, #initerary_detail_page   {
    height: 16em;
    overflow-y: scroll;
}

#map {
    display: none;
}

.dev {
    width: 23em;
    padding: 2px;
    margin: 0;
}

.marquee_code
{
    background-color: #3B27C2;
    font-family:monotype corsiva;
    font-size:18pt;
    color: #E6FF42;
    border-width:4px;
    border-style:outset;
    border-color: #DE3116;
    font-style:italic;
    font-weight:bold;
}

#toc div {
    font-size: 116%;
}

.call_me {
    color: #ffffff;
    width: 26em;
    position: absolute;
    top: 382px;
    background-color: #6e6a546e;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 20px;
    left: 50%;
    z-index: 200;
    transform: translateX(-50%);
}

.sectioned-social-bar   {
    background-color: black;
    background-image: url('/../images/social.jpg');
    background-repeat: round;
}

.top-navigation-bar {
    margin-bottom: -40px;
}

.top-navigation-bar ul li a {
    text-transform: uppercase;
}

.panel-default > .panel-heading {
    color: #ffffff;
    background-color: indianred;
    border: 5px solid #ddd;
}

.itinerary_dtl_loding {
    margin-left: 45%;
}

.download_itinerary {
    float: left;
}

.itinerary_dtl_link {
    text-decoration: underline;
    cursor: pointer;
}

.testimonials_panel {
    background-color: #c6e1f9;
}

.homepage-text {
    position: absolute;
    font-size: 3em;
    top: 100px;
    z-index: 1000;
    height: 5em;
    padding: 1em;
    display: inline;
    left: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    transform: translateX(-50%);
    border: 8px solid #949191;
    background-color: #9491918c;
    width: unset !important;
}

.head-container {
    height: 5em;
    padding-top: 4px;
}

.navbar-nav {
    padding-top: 8px;
}

.panel-title {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.72);
    border-color: rgba(0, 0, 0, 0.72);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f9f8fb;
    background-color: rgb(0, 160, 176);
}

.navbar-default .navbar-nav > li > a {
    color: #ffeb3e;
}

.iframe_action {
    position: absolute;
    z-index: 1000;
    height: 5em;
    width: 8em;
    top: 0;
    cursor: pointer;
}
