.hundred-percent-width {
	width: 100%;
}

body {
	overflow-x: hidden;
}

.logo {
	width: 116.5%;
    height: 250px;
}

@media screen and (max-width: 991px) {
    .logo {
        height: 100%;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.sliding_images > button.slick-arrow {
    display: none !important;
}

@media screen and (max-width: 991px) {
    .logo {
        width: 20% !important;
    }
    .contact-us {
    	width: 25%;
    	background-color: #c6c7ca;
    	float: right;
    }
}

.pictures-nav {
	height: 320px;
	overflow: auto;
}

.panel-body.gallery {
	height: 800px;
	overflow: auto;
}

.menu-dropdown {
    background-color: transparent;
    border: none;
    height: 3em;
    margin-top: 4px;
    color: #777;
}

.sectioned-social-bar > div {
    margin: auto;
} 

.js .project-data.js-myexpander-hidden {
  display: none;
}

.slick-dots li button {
    font-size: 10px;
    line-height: 6;
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    outline: none;
    background: #949494;
    margin: 2px;
}

.pictures-nav {
    height: 235px;
    margin-top: -30px;
}
